body,
h1,
label {
  font-family: "Raleway", sans-serif;
}
body,
html {
  height: 100%;
  padding: 0;
}
.bgimg {
  background-image: url("./backgroundImg.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  padding: 15px;
  text-align: center;
}
.w3-container {
  opacity: 0.83;
}
.w3-button {
  padding: 8px 60px;
}
#sidebarNav {
  width: 20%;
}
#pageContent {
  margin-left: 20%;
}
